[submodule "core-legacy"]
	path = core-legacy
	url = git@github.com:lusoalex/core-legacy.git
[submodule "core-new"]
	path = core-new
	url = git@github.com:lusoalex/core-new.git
[submodule "core-db"]
	path = core-db
	url = git@github.com:wondergarance/core-db.git
